In [13]:
import configparser
from datetime import datetime, timedelta
import os
import sys
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf, col
from pyspark.sql.functions import year, month, dayofmonth, hour, weekofyear, date_format, dayofweek
from pyspark.sql.functions import monotonically_increasing_id
from pyspark.sql.types import DateType,StringType
from pyspark.sql import functions as F
from pyspark.sql.functions import avg
import pandas as pd

In [14]:
import pandas as pd

In [15]:
tools_df = pd.read_json('D:/hieulon.json')
tools_df.head()

,name,category,countCompanies,Stage,Target Segment,Deployment,Business Model,Pricing,Location
0,&facts,Business Intelligence (BI),0,Early Stage,SMBs / Mid-size / Enterprise,SaaS,Commercial,Free trial,Birmingham
1,5X,Managed Data Stack,0,Early Stage,Mid Size / Enterprise,SaaS,Commercial,Contact Sales,Singapore
2,Acceldata,Data Quality Monitoring,1,Early Stage,Mid size,SaaS,Commercial,Contact Sales,"California, US"
3,Acho,Business Intelligence (BI),0,Early Stage,Mid size / Enterprise,SaaS,Commercial,Contact Sales / Free trial,"Boston, US"
4,Acryl,Data Cataloging,0,Early Stage,Mid size,SaaS,Commercial,Not Available,"Mountain View, California, United States"

In [21]:
results = tools_df[tools_df['category'] == 'Business Intelligence (BI)']

In [22]:
results.head()

,name,category,countCompanies,Stage,Target Segment,Deployment,Business Model,Pricing,Location
0,&facts,Business Intelligence (BI),0,Early Stage,SMBs / Mid-size / Enterprise,SaaS,Commercial,Free trial,Birmingham
3,Acho,Business Intelligence (BI),0,Early Stage,Mid size / Enterprise,SaaS,Commercial,Contact Sales / Free trial,"Boston, US"
19,Amazon Quick Sight,Business Intelligence (BI),1,Late Stage,Mid size / Enterprise,SaaS,Commercial,Freemium,US
26,Anteam,Business Intelligence (BI),0,Early Stage,SMBs / Mid Size,SaaS,Commercial,Free Trial,India
40,Astrato,Business Intelligence (BI),0,Early Stage,SMBs / Mid-Size / Enterprise,SaaS,Commercial,Freemium / Contact Sales,London

In [23]:
results = results[results['Business Model']=='Open Source']
results.head(11)

,name,category,countCompanies,Stage,Target Segment,Deployment,Business Model,Pricing,Location
100,Cube.dev,Business Intelligence (BI),0,Mid Stage,Mid size,Open source,Open Source,Free trial,San Francisco
238,Lightdash,Business Intelligence (BI),2,Early Stage,Mid size / SMBs,Open source,Open Source,Freemium,UK
251,Metabase,Business Intelligence (BI),11,Mid Stage,Mid size / Enterprise,SaaS,Open Source,Freemium,"San Francisco, US"
337,Redash,Business Intelligence (BI),4,Mid Stage,Mid size / Enterprise,SaaS / On Prem,Open Source,Free trial,US
401,Superset,Business Intelligence (BI),4,Early Stage,Mid size,SaaS,Open Source,Freemium,US
422,Tellery,Business Intelligence (BI),0,Early Stage,Mid size,Open source,Open Source,Free trial,US

In [24]:
category_df = tools_df['category'].to_frame()
category_df = category_df.drop_duplicates(keep='first',inplace=False).reset_index(drop=True)
category_df.head(50)

                              category
0           Business Intelligence (BI)
1                   Managed Data Stack
2              Data Quality Monitoring
3                      Data Cataloging
4                 Spreadsheet based BI
5          Customer Data Platform(CDP)
6                  Augmented Analytics
7        Data Workspace/ Collaboration
8                       Synthetic Data
9                            ETL Tools
10              Workflow Orchestration
11                      Data Discovery
12         Data Privacy and Governance
13                       Feature Store
14  Business Reliability/Observability
15                      Data Streaming
16                          Data Lakes
17   Data Modelling and Transformation
18              Operational Analytics
19                     Data Warehouses
20                             PLG CRM
21                   Reverse ETL Tools
22                  No code automation
23                           Data Mesh
24                           Data Apps
25                 Change Data Capture
26                   Product Analytics
27                       Metrics Store
28                        Data Logging